# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules

# python virtual environment
.venv/

# testing
/coverage

# Take out the /build .gitignore file so that render.com can deploy from the frontend

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
